.ticker {
  pointer-events: none;
}

.ticker-track,
.ticker:hover .ticker-track,
.ticker.is-paused .ticker-track {
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important;
}

.ticker-toggle {
  display: none !important;
}
